<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.says.common">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/><!--白名单权限 -->
    <!--不同厂商的白名单权限 -->
    <uses-permission android:name="com.huawei.permission.external_app_settings.USE_COMPONENT"/>
    <application
        android:usesCleartextTraffic="true"
        tools:targetApi="m" >

        <provider
            android:name=".provider.CommonProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path_data" />
        </provider>

    </application>
</manifest>